<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <link rel="stylesheet" href="estilo/main.css">
    <link rel="stylesheet" href="estilo/index.css">
    <title>Dominoes</title>
</head>
<body>
    <h1>Salas</h1>
    <div id="salas">

    </div>
</body>
<script>

    var containner = document.getElementById('salas')

    var salas = []

    var socket = io.connect()

        .on('salas', (salasRecebidas) =>{
            if(salas != salasRecebidas){

                salas = salasRecebidas

                containner.innerHTML = ''
                

                for(let sala of salas) {
                    
                    containner.innerHTML += `<button onclick='window.location.href = "/lobby/${ sala.nome }"'>${ sala.nome }</button>`
                    
                }

            }

        })

    socket.emit('looking')

</script>
</html>