body{
    background-image: url(../textures/wood.jpg);
    background-size: 300px;
}

.hand{
    background-image: url(../textures/planks.jpg);
    background-position: bottom;
    background-size: 40px 80px;
    background-repeat: repeat-x;
    border-radius: 10px 10px 0 0;
    display: block;
    width: 80%;
    height: 120px;
    padding: 0 20px 0 20px;
    position: fixed;
    bottom: 0;
    margin-left: 10%;
    overflow-x: scroll;
    z-index: 99;
}

.bones{
    display: block;
    height: 100px;
    margin: 0 auto 0 auto;
}

.hand-bone{
    width: 50px;
    
}

#comprar{
    z-index: 99;
    position: fixed;
    right: 120px;
}

#pass{
    z-index: 99;
    position: fixed;
    right: 10px;
}

#turn{
    z-index: 99;

    position: fixed;
    background-color: rgba(0,0,0,.7);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    left: 20px;
    padding: 10px;
    top: 13px;

}

button{
    display: block;
    margin: 0px auto 30px auto;

    background-color: rgba(0,0,0,.7);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    width: 90px;
    transition: background-color .5s;
}

button:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,.9);
}