<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dominoes</title>
    <link rel="stylesheet" href="estilo/index.css">
</head>
<body>
    <script>
        function newLobby(){

            var nome = prompt("Nome da sua sala:")

            window.location.href = '/lobby/'+nome

        }
    </script>
    <h1>Dominoes</h1>
    <button onclick="newLobby()">Criar nova sala</button>
    <button>Entrar em uma sala</button>
</body>
</html>